<html>
    <head>
        <title>To Do List</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
        .due{
            color : red;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{ category.getName }}</h1>

            {% if tasks is not empty %}
                <h4>List of tasks:</h4>
                    {% for task in tasks %}
                        <p><strong>{{ task.getDescription }}<strong></p>
                        <ul><li class="due">{{ task.getDueDate }}</li></ul>
                        <br>
                    {% endfor %}
            {% else %}
                <h4>There are no tasks for this categories!</h4>
            {% endif %}

            <h4>Add a task to this category</h4>

            <form action='/add_tasks' method='post'>
                <input id="category_id" name="category_id" type="hidden" value="{{ category.getId }}">
                <label for="task_id">Select a task</label>
                <select id='task_id' name='task_id' type='text'>
                    {% for task in all_tasks %}
                        <option value="{{ task.getId }}">{{ task.getDescription }}</option>
                    {% endfor %}
                </select>
                <button type='submit' class='btn btn-success'>Add task</button>
            </form>

            <form action='/categories/{{ category.getId }}/edit'>
                <button type='submit' class="btn btn-warning">Edit</button>
            </form>

            <form action="/">
                <button type='submit' class='btn btn-info'>Home</button>
            </form>
        </div>
</body>
</html>
